# RH-ISAC.conf for the SentinelOne - MISP Integrations

# RH-ISAC MISP - Check the ./misp/README.md file for details.
[RH-ISAC MISP]
key = <MISP API KEY HERE>

# SentinelOne - Check ./misp/SentinelOne/README.md
[sentinelone]
sentinelone_url = <Sentinelone URL here>/web/api/v2.1/threat-intelligence/iocs
sentinelone_api = <sentinelone API here>
sentinelone_accountid = <Account ID here>
